.image-container {
    display: inline-block;
    overflow: hidden;
    transition: transform 0.9s ease-in-out;
}

.image-container.hovered {
    transform: scale(1.1); /* You can adjust the scale value for zoom effect */
    cursor: pointer;
}

