/* Add this to your CSS file */
.scroll-up-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #515558;
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .scroll-up-button.show {
    display: block;
  }
  
  .scroll-up-button:hover {
    background-color: #adbac9;
  }
  