.shop-container {
  margin-top: 20px;
  justify-items: center;
}

html{
  height: 3000px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

/*
.product-image img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}*/

.product-details-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.first-detail {
  flex-grow: 1;
}

.product-price-div {
  margin-left: 10px;
}

.product-price {
  font-weight: bold;
}

.product-details-main p {
  font-size: 18px;
}

.product-details-main p:last-child {
  margin-top: 10px;
}

.product-details-main p:last-child:before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.product-details-main p:last-child:last-letter {
  margin-right: 0;
}

.product-details-main p:last-child:nth-child(1):before {
  background-color: #4caf50;
}

.product-details-main p:last-child:nth-child(2):before {
  background-color: #ff9800;
}

.size-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.filter-button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #a17fa7;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #ccc;
}

.filter-button.active {
  background-color: #7b1fa2;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-container input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  max-width: 400px;
}

.search-container input[type="text"]::placeholder {
  color: #aaa;
}

.search-results {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1;
  max-width: 700px;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-result-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.see-all-link {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #f7f7f7;
  border-top: 1px solid #ccc;
}

.see-all-link:hover {
  background-color: #ebebeb;
}

@media screen and (max-width: 768px) {
  .shop-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}


.ara-button{
  background-color:#6f70ac;
}


.product-image-search img {
  width: 100%;
  height: 100%;
  
  object-fit: contain;
 
}
.product-image-search {
  width: 100%;
  height: 300px; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}