.shop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the products on larger screens */
}

/* For mobile devices, display 2 products per row */
@media (max-width: 600px) {
  .shop-container {
    justify-content: flex-start;
  }

  .product-item {
    width: calc(50% - 20px);
  }
}

.product-item {
  width: 350px;
  height: 420px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image-shop img {
  width: 100%;
  height: 100%;
  
  object-fit: contain;
 
}
.product-image-shop {
  width: 100%;
  height: 300px; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.product-details {
  padding: 10px;
  display: flex;
}


.product-details h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  width: 200px;
  text-decoration: none;
  justify-content: space-between;
}

.product-details-main {
  display: block;
  width: 100%; /* Adjust the width for mobile devices */
  height: 100px;
}

.product-details p {
  font-family: 'Roboto', sans-serif;
}

.product-price {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.product-price-div {
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.product-price {
  margin-right: 30px;
}

.first-detail {
  margin: 0;
  padding: 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.filter-button {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: #555252;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #ccc;
}

.filter-button.active {
  background-color: #353434;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-container input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%; /* Adjust the width for mobile devices */
}

.search-container input[type="text"]::placeholder {
  color: #aaa;
}

.search-container input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

.search-results {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1;
  width: 100%; /* Adjust the width for mobile devices */
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-result-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.see-all-link {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #f7f7f7;
  border-top: 1px solid #ccc;
}

.see-all-link:hover {
  background-color: #ebebeb;
}

.CircularProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



.product-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff4081;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
  opacity: 1; 
}